<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" parallel="methods" thread-count="1" data-provider-thread-count="1">
<listeners>
    <listener class-name="com.itacademy.aqa.AtmTestListener"/>
    <listener class-name="com.itacademy.aqa.AnnotationTransformer"/>
</listeners>

    <test name="Regression">
        <groups>
            <define name="regression"/>
            <run>
                <include name="regression"/>
            </run>
        </groups>
        <packages>
            <package name="com.itacademy.aqa"/>
        </packages>
    </test>
    <test name="SmokeTest">
        <groups>
            <define name="smoke"/>
            <run>
                <include name="smoke"/>

            </run>
        </groups>
        <packages>
            <package name="com.itacademy.aqa"/>
        </packages>
    </test>
</suite>